@CHARSET "ISO-8859-1";

#copyright {
	height: 40px;
	width: 100%;
	background-color: #000000;
	position: fixed;
	bottom: 0px;
}

#bodypage {
	background-color: blue
}

#contour {
	height: 100px;
	width: 500px;
	border: 5px solid gray;
}

#banniere {
	margin-left: 45%;
	width: 50%;
}

#foot {
	color: white;
	text-align: center
}

#panellogin {
	border: 1px solid #000000;
	background: #03A9F4
		-webkit-gradient(linear, left top, left bottom, from(#03A9F4),
		to(rgba(255, 255, 255, 0)));
}

button#submitlogin {
	background: #31a524
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
}

div#service1 {
	width: 100%;
	height: 400px;
	border: 1px solid black;
	background-color: #c2dce8;
}

div#service2 {
	width: 100%;
	height: 400px;
	border: 1px solid black;
	margin-top: 25px;
	background-color: #c2dce8;
}

img#j_idt14\:bucheron {
	margin-left: 25%
}

img#j_idt14\:anglais {
	margin-left: 25%
}

/* ==================================PAGE LOGIN===================================== */

/* Background panel*/
div#j_idt14\:panellogin.ui-panel.ui-widget.ui-widget-content.ui-corner-all
	{
	border: 1px solid #000000;
	background: #cacaca;
}

Header panel

div#j_idt14\:panellogin_header.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all
	{
	border: 1px solid #000000;
	background: rgb(53, 178, 234);
}

Submit button panel

button#j_idt14\:submitlogin.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: #31a524
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
}

/*==================Page Service====*/
#service1 {
	border-bottom-width: 5px;
	border-color: black;
}

/*===============PAGE PAIEMENT===============*/
.text-output-creditcard{
    font-weight:bold;
}

.text-input-creditcard{
    width:200px;
}

.panelgrid-creditcard
{
	width:  100%;
	border: none;
	border-style: none;
}

.button-creditcard
{
	float:right;
}